<div class="outer pt-0">
    <div class="container pt-5" >
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panle-body p-3">
                        <form [formGroup]="signupform">
                            <div class="form-control pt-3">
                                <div class="input-field" [class.error]="signupform.controls['firstname'].dirty && signupform.hasError('required','firstname')">
                                    <span class="fa fa-user p-2"></span>
                                     <input formControlName="firstname" type="text" placeholder="First Name">
                                </div>
                            </div>
                             <small *ngIf="signupform.controls['firstname'].dirty && signupform.hasError('required','firstname')" class="text-danger">*First Name is required</small>
                            <div class="form-control pt-3">
                                <div class="input-field"[class.error]="signupform.controls['lastname'].dirty && signupform.hasError('required','lastname')">
                                    <span class="fa fa-user p-2"></span>
                                     <input formControlName="lastname" type="text" placeholder="Last Name">
                                </div>
                            </div>
                            <small *ngIf="signupform.controls['lastname'].dirty && signupform.hasError('required','lastname')" class="text-danger">*Last Name is required</small>

                            <div class="form-control pt-3">
                                <div class="input-field"[class.error]="signupform.controls['email'].dirty && signupform.hasError('required','email')">
                                    <span class="fa fa-user p-2"></span>
                                     <input formControlName="email" type="text" placeholder="Email">
                                </div>

                            </div>
                                <small *ngIf="signupform.controls['email'].dirty && signupform.hasError('required','email')" class="text-danger">*Email is required</small>

                             <div class="form-control pt-3">
                                <div class="input-field"[class.error]="signupform.controls['username'].dirty && signupform.hasError('required','username')">
                                    <span class="fa fa-user p-2"></span>
                                     <input formControlName="username" type="text" placeholder="Username">
                                </div>
                            </div>
                                <small *ngIf="signupform.controls['username'].dirty && signupform.hasError('required','username')" class="text-danger">*UserName is required</small>

                            <div class="form-control pt-3">
                                <div class="input-field"[class.error]="signupform.controls['password'].dirty && signupform.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                     <input formControlName="password" [type]="type" placeholder="password">
                                     <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                                <small *ngIf="signupform.controls['password'].dirty && signupform.hasError('required','password')" class="text-danger">*Password is required</small>

                            <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have an account? <a href="login" id="forget" >Login</a></div>
                        </form>
                    </div>
<!-- 
                    <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3">
                            <a href="" target="_blank" class="px-2"></a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
